@page "/debt-sources"

<div class="inner-padding">
    <div class="filter d-flex justify-content-between align-items-center mb-4 gap-3 flex-wrap">
        <div class="filter-left d-flex align-items-center gap-x-2">
            <MudTextField T="string" @bind-Value="Search" Immediate="true" Placeholder="Search" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Class="search-input text-dark" />
        </div>
        <div class="filter-right">
            <MudButton Color="Color.Primary" Variant="Variant.Filled" DropShadow="false" Class="btn btn--md" OnClick="OpenCloseInsertDebtSourceModal" StartIcon="@Icons.Material.Filled.Add" Disabled="IsInsertDebtSourceModalOpen">
                Add Debt Source
            </MudButton>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table country-table">
            <thead>
            <tr>
                <th>#</th>
                <th @onclick="() => ChangeSorting(nameof(GetTagDto.Title))" style="cursor: pointer;">
                    Title
                    <MudIcon Icon="@GetSortIcon(nameof(GetTagDto.Title))" Class="ms-1" />
                </th>
                <th>Background Color</th>
                <th>Text Color</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var debtSource in DebtSourceModels)
            {
            <tr>
                <td>@(DebtSourceModels.IndexOf(debtSource) + 1).</td>
                <td>@debtSource.Title</td>
                <td>
                    <span style="background-color: @debtSource.BackgroundColor">
                        @debtSource.BackgroundColor
                    </span>
                </td>
                <td>
                    <span style="background-color: @debtSource.TextColor">
                        @debtSource.TextColor
                    </span>
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@if (IsInsertDebtSourceModalOpen)
{
    <ModalLayout Module="Debts" 
                 Size="lg"
                 Description="Please fill in the following form to insert your debt source record."
                 Title="Insert Debt Source"
                 OnCancel="OpenCloseInsertDebtSourceModal">
        <EditForm Model="DebtSourceModel" FormName="Insert Debt" OnSubmit="InsertDebtSource">
            <DataAnnotationsValidator />
            <div class="mb-3">
                <MudTextField @bind-Value="DebtSourceModel.Title" 
                              Label="Name" 
                              For="@(() => DebtSourceModel.Title)" 
                              Variant="Variant.Text" 
                              Placeholder="Enter the Tag Name" 
                              Required="true"
                              Immediate="true"/>
            </div>
            <div class="mb-3">
                <MudColorPicker Label="Background Color"
                                ColorPickerView="ColorPickerView.Spectrum"
                                @bind-Value="@DebtSourceModel.BackgroundColor"
                                For="@(() => DebtSourceModel.BackgroundColor)"
                                Variant="Variant.Text" />
            </div>
            <div class="mb-3">
                <MudColorPicker Label="Text Color"
                                ColorPickerView="ColorPickerView.Spectrum"
                                @bind-Value="@DebtSourceModel.TextColor"
                                For="@(() => DebtSourceModel.TextColor)"
                                Variant="Variant.Text" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" @onclick="@OpenCloseInsertDebtSourceModal">Discard</button>
                <button type="submit" class="btn btn-outline-dark">Submit</button>
            </div>
        </EditForm>
    </ModalLayout>
}
