@page "/register"
@layout EmptyLayout

<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">
                <div class="border border-3 border-secondary rounded-2">
                    <div class="card bg-white shadow-lg">
                        <div class="card-body p-5">
                            <EditForm Model="RegistrationRequest" FormName="Registration" OnSubmit="RegisterHandler">
                                <DataAnnotationsValidator />
                                <h2 class="fw-bold mb-2">Registration</h2>
                                <p class="mb-4">Please register your account via username and password.</p>
                                <div class="mb-3">
                                    <MudTextField @bind-Value="RegistrationRequest.Username"
                                                  Label="Username"
                                                  For="@(() => RegistrationRequest.Username)"
                                                  Variant="Variant.Outlined"
                                                  Placeholder="Enter your username"
                                                  Immediate="true"/>
                                </div>
                                <div class="mb-3">
                                    <MudSelect T="@(Currency)"
                                               @bind-Value="RegistrationRequest.Currency"
                                               Label="Currency"
                                               Required="true"
                                               Variant="Variant.Outlined"
                                               AnchorOrigin="Origin.BottomCenter">
                                        <MudSelectItem Value="@(Currency.None)">Select a Currency</MudSelectItem>
                                        <MudSelectItem Value="@(Currency.AUD)">AUD</MudSelectItem>
                                        <MudSelectItem Value="@(Currency.EUR)">EUR</MudSelectItem>
                                        <MudSelectItem Value="@(Currency.INR)">INR</MudSelectItem>
                                        <MudSelectItem Value="@(Currency.NPR)">NRP</MudSelectItem>
                                        <MudSelectItem Value="@(Currency.USD)">USD</MudSelectItem>
                                    </MudSelect>
                                </div>
                                <div class="mb-3">
                                    <MudTextField @bind-Value="RegistrationRequest.Password"
                                                  Label="Password"
                                                  For="@(() => RegistrationRequest.Password)"
                                                  Variant="Variant.Outlined"
                                                  InputType="InputType.Password"
                                                  Placeholder="Enter your password"
                                                  Immediate="true"/>
                                </div>
                                <div class="mt-4 d-grid">
                                    <button class="btn btn-outline-dark" type="submit">Register</button>
                                    <div class="mt-4 d-flex justify-content-center">
                                        <p class="mb-4">Already have an account,</p>
                                        <a href="login">&nbsp; Click here.</a>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>