<div class="relative w-full h-[26vh] rounded-xl">
    <img src="images/Dashboard.jpg" alt="dashboard" class="w-full h-full object-cover rounded-xl brightness-90">
    <div class="absolute top-10 px-4">
        <h2 class="text-2xl font-semibold text-white">Expense Distribution</h2>
    </div>

    <div class="absolute bottom-3 w-full grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 p-2" style="width: 98%">
        <div class="flex flex-row justify-between rounded-lg bg-white p-3 shadow-md">
            <div class="">
                <p class="text-gray-500">Total Inflows</p>
                <p class="text-gray-500 text-[12px]">Credits (@DashboardCount.TotalInflowsCount)</p>
                <h2 class="text-2xl font-bold">@DashboardCount.TotalInflowsAmount.ToString("C")</h2>
            </div>
            <div class="rounded-full size-4">
                <MudIcon Icon="@Icons.Material.Filled.AccountBalance" Color="Color.Warning" />
            </div>
        </div>
        <div class="flex flex-row justify-between rounded-lg bg-white p-3 shadow-md">
            <div class="">
                <p class="text-gray-500">Total Outflows</p>
                <p class="text-gray-500 text-[12px]">Debits (@DashboardCount.TotalOutflowsCount)</p>
                <h2 class="text-2xl font-bold">@DashboardCount.TotalOutflowsAmount.ToString("C")</h2>
            </div>
            <div class="rounded-full size-4">
                <MudIcon Icon="@Icons.Material.Filled.MoneyOff" Class="text-3xl" style="color: #63b3ed;" />
            </div>
        </div>
        <div class="flex flex-row justify-between rounded-lg bg-white p-3 shadow-md">
            <div class="">
                <p class="text-gray-500">Total Pending Debts</p>
                <p class="text-gray-500 text-[12px]">Pending Debts (@DashboardCount.TotalPendingDebtsCount)</p>
                <h2 class="text-2xl font-bold">@DashboardCount.TotalPendingDebtsAmount.ToString("C")</h2>
            </div>
            <div class="rounded-full size-4">
                <MudIcon Icon="@Icons.Material.Filled.CreditCardOff" Color="Color.Error" Class="text-3xl" />
            </div>
        </div>
        <div class="flex flex-row justify-between rounded-lg bg-white p-3 shadow-md">
            <div class="">
                <p class="text-gray-500">Total Cleared Debts</p>
                <p class="text-gray-500 text-[12px]">Cleared Debt (@DashboardCount.TotalClearedDebtsCount)</p>
                <h2 class="text-2xl font-bold">  @DashboardCount.TotalClearedDebtsAmount.ToString("C")</h2>
            </div>
            <div class="rounded-full size-4">
                <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Class="text-3xl" style="color: #c770d5;" />
            </div>
        </div>
    </div>

</div>

@code {

}